<div style="text-align:center">
<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    JSON Array
  </mat-panel-title>
  <mat-panel-description>
    Paste the JSON Array
  </mat-panel-description>
</mat-expansion-panel-header>  
<textarea [ngModel]="JSONArrayString" (ngModelChange)="setJSONArray($event)" [ngModelOptions]="{standalone: true}" placeholder="Paste JSON Array here" rows="25" cols="50"></textarea> 
</mat-expansion-panel>
<br>
<br>
<form class="Filter-form">
    Primary Filter :  
    <input [ngModel]="primaryAttr" (ngModelChange)="primaryAttr = $event" [ngModelOptions]="{standalone: true}" placeholder="Primary Filter">
  <br><br>
    Required Fields :
    <textarea [ngModel]="requiredFields" (ngModelChange)="setRequiredFieldsArray($event)" [ngModelOptions]="{standalone: true}" placeholder="RequiredKeys"></textarea>
  <h1>JSON Filter</h1>
  <mat-expansion-panel *ngFor = "let obj of JSONArray">
    <mat-expansion-panel-header>
    <mat-panel-title>
        <div *ngIf = "obj.exercises">
            <b>Training Config</b> : {{obj[exercises]}}
        </div>  
      {{obj[primaryAttr]}}
    </mat-panel-title>  
    <mat-panel-description> 
      <div *ngIf = "obj.exercises">
            <span *ngFor = "let exercise of obj.exercises">
              <b>{{exercise.exercise}} : secondsToTrain </b> : {{exercise.secondsToTrain}}   
            </span>
      </div>
      <div *ngFor = "let key of requiredFields">
        <div *ngIf = "obj[key]">
          <b>{{key}}</b> : {{obj[key]}};
        <br><br> 
        </div>
      </div> 
    </mat-panel-description> 
  </mat-expansion-panel-header>
  <p *ngFor = "let element of KeyList.get(obj)">
    <b>{{element}}</b> : {{obj[element] | json}}
  </p>
  </mat-expansion-panel>
</form>
</div>

